.mainYelp {
    width: 50%;
    margin: auto;
    border: .5px solid rgb(53, 53, 53);
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.308);
    background-color: rgba(85, 87, 179, 0.966);

}

.titleWrap {
    border-radius: .5em;
    background-color: rgb(184, 185, 241);
    box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.308);
    text-align: center;
    margin-bottom: 20px;
}

.mainTitle {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-left: 19%;
}

.subTitle {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-left: 19%;
}

.search {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.inline-block {
    padding-left: 18px;
    margin-left: 20px;
    width: 200px;
    display: inline-block;
    position: relative;
    border: .5px solid rgb(53, 53, 53);
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.308);
    background-color: rgb(184, 185, 241);
}

.button-inline-block {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

#block {
    display: block;
    border: .5px solid rgb(53, 53, 53);
    margin-bottom: 10px;
    width: 200px;
    height: 35px;
    background-color: white;
}

.city {
    margin-bottom: 10px;
}

.price {
    padding-bottom: 5px;
}

.state {
    padding-bottom: 5px;
}

.input {
    background-color: white;
    border-bottom: .5px solid rgb(53, 53, 53); 
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
}

.button {
    height: 50px;
    width: 100px;
    border-radius: .5em;
    background-color: rgb(184, 185, 241);
    box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.308);
    font-size: 25px;
}

.display {
    width: 60%;
    height: 30%;
    border: .5px solid rgb(53, 53, 53);
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px rgba(53, 53, 53, 0.308);
    background-color: rgb(184, 185, 241);
    position: relative;
    margin: auto;
}

.bizImage img{
    height: 200px;
    width: 250px;
    position: relative;
    margin-top: 20px;
    margin-left: 27%;
}

.starImage {
    height: 2%;
    width: 20%;
    position: relative;
    margin-top: 10px;
    margin-left: 38%;
}

.bizName {
    margin-top: -5px;
    position: relative;
    font-size: 30px;
    text-align: center;
}

.random {
    position: relative;
    margin-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.bizAddress1 {
    position: relative;
    padding-top: 10px;
}

.bizAddress2 {
    position: relative;
    padding-top: 15px;
}

.bizPhone {
    position: relative;
    padding-top: 10px;
}

.bizOffers {
    position: relative;
    padding-top: 10px;
}