<mat-card>
  <mat-card-header>
    <mat-card-title>Welp!</mat-card-title>
    <mat-card-subtitle>Find a random restaurant. Powered by the Yelp API.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="search">
          <span class="inline">
          <mat-form-field>
            <h4>Price Points</h4>
              <mat-select #price>
                  <mat-option value="0">--</mat-option>
                  <mat-option value="1">$</mat-option>
                  <mat-option value="2">$$</mat-option>
                  <mat-option value="3">$$$</mat-option>
                  <mat-option value="4">$$$$</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <span class="inline">
          <mat-form-field>
            <h4>City</h4>
            <input #city class = "input" matInput>
          </mat-form-field>
        </span>
          <span class="inline">
          <mat-form-field>
            <h4>State</h4>
              <input #state class = "input" matInput>
            </mat-form-field>
          </span>
          <span class="inline">
            <button class="button" mat-button (click)="onEnter(state.value, city.value, price.value)">Enter</button>
          </span>
  </mat-card-content>
  <mat-card-content class="display" *ngFor="let randomBusiness of randomBusinesses">
    <div><img mat-card-image src="{{randomBusiness.image_url}}" alt="{{randomBusiness.image_url}}"></div>
    <div>{{randomBusiness.rating}}</div>
    <div>{{randomBusiness.name}}</div>
    <div>{{randomBusiness.location.display_address[0]}}</div>
    <div>{{randomBusiness.location.display_address[1]}}</div>
    <div>{{randomBusiness.display_phone}}</div>
    <div *ngIf="randomBusiness.transactions.length === 1">Offers {{randomBusiness.transactions[0]}}</div>
    <div *ngIf="randomBusiness.transactions.length === 2">Offers {{randomBusiness.transactions[0]}} and {{randomBusiness.transactions[1]}}</div>
    <div *ngIf="randomBusiness.transactions.length === 0 || null">Does not offer delivery</div>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>

